SITE_URL=https://sudokuday.co.kr
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_NAVER_SITE_VERIFICATION=
PUBLIC_GA_ID=
ADFIT_ENABLED=false
ADFIT_ALLOWED_HOSTS=sudokuday.co.kr
ADFIT_MOBILE_MAX_WIDTH=767
ADFIT_GAME_DESKTOP_UNIT=
ADFIT_GAME_MOBILE_UNIT=
ADFIT_GUIDE_DESKTOP_UNIT=
ADFIT_GUIDE_MOBILE_UNIT=
ADFIT_GAME_DESKTOP_WIDTH=300
ADFIT_GAME_DESKTOP_HEIGHT=250
ADFIT_GAME_MOBILE_WIDTH=320
ADFIT_GAME_MOBILE_HEIGHT=100
ADFIT_GUIDE_DESKTOP_WIDTH=300
ADFIT_GUIDE_DESKTOP_HEIGHT=250
ADFIT_GUIDE_MOBILE_WIDTH=320
ADFIT_GUIDE_MOBILE_HEIGHT=100
